<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.edu.itm.link.dadm_u3proyb">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/food_bank_48dp"
        android:label="My Eats"
        android:roundIcon="@mipmap/food_bank_48dp"
        android:supportsRtl="true"
        android:theme="@style/Theme.DADM_U3ProyB"
        android:usesCleartextTraffic="true">
        <activity android:name=".RegistroUsuario"></activity>
        <activity android:name=".EditarUsuario" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ProductsActivity"
            android:label="@string/title_activity_products"
            android:theme="@style/Theme.DADM_U3ProyB.NoActionBar" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu" />
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>